<h1>Security & Confidentiality</h1>
<p>
	We have an obligation to keep your sensitive information private and safe. Extraordinary levels of encryption and firewall contribute to our confidence that we’re fulfilling our obligation to you, the user, and the United States Government under Health Information Privacy Legislation. </p>
